.hero {
    // height: calc(100vh - 85px);
    background-image: url(../images/heroimage.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 70vh;
    &::after {
        content: "";
        width: 30%;
        height: 50%;
        background-color: getColor(primary);
        opacity: 0.2;
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 0;
        transform: translateX(-50%);
        border-radius: 99vw 99vw 0% 0%;
    }

    @include mobile {
        &::after {
            width: 80%;
        }
    }

    .container {
        text-align: center;
        color: getColor("white");
        height: 100%;
        padding-top: 15em;
        z-index: 1;
        position: relative;

        @include mobile {
            padding-top: 7rem;
        }
        .title {
            font-size: 3rem;
            font-weight: 200;
        }
        .sub-title {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }

        .cta-btn {
            display: inline-block;
            padding: 0.6rem 2.5rem;
            background-color: #e6e3d4;
            margin-top: 1.5rem;
        }
        .social-icons {
            position: absolute;
            bottom: 5%;
            left: 0%;
            a {
                color: white;
                font-size: 0.7rem;
            }
            a:not(:first-child) {
                margin-left: 1rem;
            }

            @include mobile {
                display: none;
            }
        }
        .navto {
            position: absolute;
            bottom: 5%;
            right: 0%;
            color: white;
            i {
                margin-left: 1rem;
            }
            @include mobile {
                left: 0%;
            }
        }
    }
}
