@import "_config";
@import "_header";
@import "_hero";
@import "_services";
@import "_gifts";
@import "_popular";
@import "_contact";
@import "_footer";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: getColor(primary);
    font-size: 100%;
}
a {
    text-decoration: none;
    color: #252525;
    text-transform: uppercase;
}
.container {
    width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}
